[Unit]
Description=Telegram SOCKS5 Proxy Bot (tgunlock_robot)
After=network.target

[Service]
User=root
WorkingDirectory=/storage/tgunlock_robot/venv/bin/python3.12 /storage/tgunlock_robot/main.py
ExecStart=/storage/tgunlock_robot
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

